<article>
    <div class="container" id="contact" style="min-height: 300px">
        <div class="section-box">
            <div data-aos="fade-up" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="contact-title">
                    <span class="code-font">Contact</span>
                    <img class ="title-icon" src="/assets/icons/contact-us-filled-svgrepo-com.svg" alt="contact icon">
                </h3>
            </div>
        </div>

        <div class="section-box contact-description mx-auto" data-aos="fade-up" data-aos-duration="1000">
            I am always open to receiving job offers and exploring new opportunities. I make it a priority to respond to messages as promptly as possible. I am deeply interested in entrepreneurship and am committed to going the extra mile to achieve great success in my career.
        </div>

        <div class="section-box d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <a href="mailto:facundo.sharry@gmail.com">
                <button class="btn main-btn btn-lg" style="max-width: 250px;">
                    <img class="me-2 title-icon" src="/assets/icons/email-1572-svgrepo-com.svg" alt="email icon" style="width: 24px; height: 24px;">
                    <span class="fw-bold">Send me an Email</span>
                </button>
            </a>
        </div>
    </div>
</article>