<!--2nd Article(article 2): Informacion personal-->
<article class="section about" id='about'>
<div class="container">
    <div class="section-box">
        <div class="about-title" data-aos="fade-up">
            <h3 class="section-title">
                <span class='n-section-title displayFont'>About Me</span>
                <img class ="title-icon" src="/assets/icons/person-wave-svgrepo-com.svg" alt="person icon">
            </h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <div class="about-description">
                    <p [innerHTML]="persona.about2" data-aos="fade-up" data-aos-duration="1000">
                    </p>
                    <table>
                        <tr data-aos="fade-up" data-aos-duration="1000">
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/html-124-svgrepo-com.svg" alt="HTML Icon">HTML</td>
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/css3-02-svgrepo-com.svg" alt="CSS3 Icon">CSS</td>
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/bootstrap-fill-svgrepo-com.svg" alt="Bootstrap Icon">Bootstrap</td>
                        </tr>
                        <tr data-aos="fade-up" data-aos-duration="1000">
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/js01-svgrepo-com.svg" alt="Javascript Icon">Javascript</td>
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/jquery-svgrepo-com.svg" alt="Jquery Icon">Jquery</td>
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/angular-svgrepo-com.svg" alt="Angular Icon">Angular</td>
                        </tr>
                        <tr data-aos="fade-up" data-aos-duration="1000">
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/php-svgrepo-com.svg" alt="PHP Icon">PHP</td>
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/laravel-svgrepo-com.svg" alt="Laravel Icon">Laravel</td>
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/mysql-svgrepo-com.svg" alt="MySQL Icon">MySQL</td>
                        </tr>
                        <tr data-aos="fade-up" data-aos-duration="1000">
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/git-svgrepo-com.svg" alt="Git Icon">Git</td>
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/java-svgrepo-com.svg" alt="Java Icon">Java</td>
                            <td class="skill-table-element"><img class="skill-element-icon" src="/assets/icons/python-svgrepo-com.svg" alt="Python Icon">Python</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                <div class="about-img-container">
                    <img class="rounded" width="250" src="/assets/profile_pic.jpg" alt="Facundo Sharry">
                </div>
            </div>
        </div>
    </div>
</div>
</article>