  <!-- Last section/article: footer, usually contains contact information -->

  <!-- Footer -->
  <footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://github.com/facu-sharry" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/facundo-sharry-6748021b9/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a href="mailto:facundo.sharry@gmail.com" target='_blank'>facundo.sharry&#64;gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <div>Built with Angular</div>
        <div class="mt-2">Design by Brittany Chiang</div>
    </div>

</footer>