<!--HEADER: The first and most important section of the page, usually the navigation bar -->
<header>
    <nav class="navbar navbar-expand-lg fixed-top" [class.scrolled]="scrolled">
        <div class="container-fluid">

            <a class="navbar-brand" style="max-width: 50px;" href="#">
                <img src="/assets/chicken-svgrepo-com.svg" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-links" id="navbarSupportedContent">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link activeText" aria-current="page" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link activeText" aria-current="page" href="#jobs">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link activeText" aria-current="page" href="#studies">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link activeText" aria-current="page" href="#welcome">Contact</a>
                    </li>
                </ul>

                <a href="https://github.com/Hakush/resumee/blob/master/CV_Facundo_Sharry.pdf" target="_blank"
                    role="button" class="btn btn-outline-success d-flex fw-bold" type="submit" style="margin-left: 8px;">Resume</a>

            </div>
        </div>
    </nav>
</header>
