* {
  margin: 0;
  padding: 0;
}

:root {
  /* CSS HEX */
  --russian-violet: #2F1143ff;
  --slate-blue: #7469C1ff;
  --byzantium: #76185Cff;
  --russian-violet-3: rgb(21, 8, 33);
  --russian-violet-2: #2A0F42ff;
  --french-mauve: #B665C3ff;

  --primary-text: #8892b0;
  --secondary-text: #a8b2d1;
  --active-text: #ccd6f6;
}

body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--russian-violet-2) ;
  background-repeat: no-repeat;
  color: var(--active-text);
  font-size: 100% ;
  font-family: 'Montserrat', sans-serif;
  line-height: 150% ;
  text-align: left;
  background-attachment: fixed;
}

hr {
  color: black;
}

.primaryText {
  color: var(--primary-text);
}

.primaryText:hover {
  color: var(--byzantium);
}

.secondaryText {
  color: var(--secondary-text);
}

.activeText {
  color: var(--active-text);
}

.activeText:hover {
  color: var(--french-mauve);
}

.highlightText {
  color: var(--french-mauve);
}

.bg-russian-violet {
  background-color: var(--russian-violet) !important;
}

.bg-slate-blue {
  background-color: var(--slate-blue) !important;
}

.bg-byzantium {
  background-color: var(--byzantium) !important;
}

.bg-russian-violet-2 {
  background-color: var(--russian-violet-2) !important;
}

.bg-french-mauve {
  background-color: var(--french-mauve) !important;
}

.navbar {
  background-color: var(--russian-violet-2);
  --bs-navbar-toggler-border-color: var(--french-mauve) !important;
  box-shadow: none;
  transition: box-shadow 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.navbar.scrolled {
  background-color: transparent;
  box-shadow: 0 10px 30px -10px #020c1bb3;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.container-fluid {
  margin: 0% 5%;
}

.main-container {
  padding: 0 175px;
}

@media (max-width: 768px) {
  .main-container {
    padding: 0 50px;
  }
  .container-fluid {
    margin: 0% 3%;
  }
}

@media (max-width: 576px) {
  .main-container {
    padding: 0 10px;
  }
  .container-fluid {
    margin: 0 3%;
  }
}

.section-box {
  /* padding: 130px 0; */
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

h1, h2 {
  font-family: 'Silkscreen', cursive;
}

.displayFont {
  font-family: 'Silkscreen', cursive;
  font-size: 100%;
}

input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

textarea {
  max-height: 300px;
}

input:focus {
  border:1px solid #000000;
}

input[type="submit"] {
  margin-bottom: 0;
  background: yellowgreen;
  border: none;
}

input[type="submit"]:hover {
  border: 1.5px solid lightcyan;
  /*cursor: pointer;*/
}
.section {
  background: var(--russian-violet-2);
  padding: 75px 0;
}

.code-font {
  font-family: SilkScreen;
}

.e-font {
  font-family: monospace;
}

.section-title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0 40px;
  width: 100%;
  white-space: nowrap;
  font-size: 32px;
  font-weight: 600;
  color: var(--slate-blue);
  margin: 0 0 10px 0;

  .n-section-title {
    margin-right: 10px;
    font-family: SilkScreen;
    font-weight: normal;
    color: var(--french-mauve);
    font-size: 20px;
    position: relative;
    bottom: 4px;
  }

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: var(--slate-blue);
    position: relative;
    top: -5px;
    margin-left: 20px;
  }
}

.main-btn {
  color: var(--french-mauve);
  background-color: transparent;
  border: 1px solid var(--french-mauve);
  border-radius: 3px;
  font-size: 13px;
  font-family: SilkScreen;
  line-height: 1;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1.25rem 1.75rem;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(100, 255, 218, 0.07);
    outline: none;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: var(--french-mauve);
  }
}

.underline {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--french-mauve) !important;
}
.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: var(--active-text);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0%;
}
.underline:hover:after {
  width: 100%;
  left: 0;
}

@media (min-width: 768px) and (max-width: 1100px) {
  .proyect-container {
    margin: 30px 0 !important;
    height: 385px !important;
  }
}
@media (min-width: 1100px) and (max-width: 1300px) {
  .container {
    max-width: 950px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 880px) and (max-width: 992px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 768px) and (max-width: 880px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 768em) {
  .section-title {
    font-size: 24px;
  }
  .container {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .banner h2,
  .banner h3,
  .big-title {
    font-size: 70px !important;
  }
  .big-subtitle {
    font-size: 14px !important;
  }
}

@media (max-width: 768px) {
  .banner h2,
  .banner h3,
  .big-title {
    font-size: 60px !important;
  }
}
@media (max-width: 480px) {
  .banner h2,
  .banner h3,
  .big-title {
    font-size: 50px !important;
  }
}
@media (max-width: 376px) {
  .banner h2,
  .banner h3,
  .big-title {
    font-size: 40px !important;
  }
}

@media (max-width: 30em) {
  body {
    font-size: 18px;
  }
}