* {
  margin: 0;
  padding: 0;
  /* font-weight: bold; !important */
}

:root {
  /* CSS HEX */
  --russian-violet: #2F1143ff;
  --slate-blue: #7469C1ff;
  --byzantium: #76185Cff;
  --russian-violet-2: #2A0F42ff;
  --french-mauve: #B665C3ff;

  --primary-text: #8892b0;
  --secondary-text: #a8b2d1;
  --active-text: #ccd6f6;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--russian-violet) ;
  background-repeat: no-repeat;
  color: #8892b0;
  font-size: 100% ;
  line-height: 150% ;
  text-align: left;
  font-family: 'Roboto Mono', monospace ;
  background-attachment: fixed;
}

hr {
  color: black;
}

.primaryText {
  color: var(--primary-text);
}

.primaryText:hover {
  color: var(--byzantium);
}

.secondaryText {
  color: var(--secondary-text);
}

.activeText {
  color: var(--active-text);
}

.activeText:hover {
  color: var(--french-mauve);
}

.highlightText {
  color: var(--french-mauve);
}

.bg-russian-violet {
  background-color: var(--russian-violet) !important;
}

.bg-slate-blue {
  background-color: var(--slate-blue) !important;
}

.bg-byzantium {
  background-color: var(--byzantium) !important;
}

.bg-russian-violet-2 {
  background-color: var(--russian-violet-2) !important;
}

.bg-french-mauve {
  background-color: var(--french-mauve) !important;
}

.navbar {
  background-color: var(--russian-violet);
  --bs-navbar-toggler-border-color: var(--french-mauve) !important;
}

.section-box {
  /* padding: 130px 0; */
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

h1, h2 {
  font-family: 'Silkscreen', cursive;
}

.displayFont {
  font-family: 'Silkscreen', cursive;
  font-size: 100%;
}

input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

textarea {
  max-height: 300px;
}

input:focus {
  border:1px solid #000000;
}

input[type="submit"] {
  margin-bottom: 0;
  background: yellowgreen;
  border: none;
}

input[type="submit"]:hover {
  border: 1.5px solid lightcyan;
  /*cursor: pointer;*/
}